__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
build/
dist/
outputs/
runs/
*.png
!figures/v03a_*.png
!figures/v022_multiview_*.png
!figures/v03b_*.png
!figures/v03c_*.png
!figures/v03d_bunny_*.png
!figures/v03e_*.png
!figures/v03f_*.png
!figures/v03g_*.png
!figures/v04_*.png
!figures/v05_*.png
!figures/v06_*.png
!render_res/
!render_res/v04_*.png
!render_res/v05_*.png
!render_res/v06_*.png
data/stanford_bunny/cache/
